*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.section{
    height: 100vh;
    background-color: black;
}

.fp-watermark{
    display: none;
}

#fullpage{
    color:aliceblue;
}

h1{
    font-family: "gotham";
    display: flex;
    justify-content: center;
    padding-top: 23%;
    font-size: 120px;
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    
    
}

#hi{
    display: flex;
    padding-top: 10%;
    margin-left: 4em;
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

h2{
    font-family: "gotham";
    font-size: 8em;
}

#hand{
    width: 20%;
    margin-left: 0.7em;
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 100px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}




@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  #p-hi{
    font-family: "Gotham";
    font-weight: lighter;
    margin-left: 3em;
    margin-top: 7em;
    font-size: 20px;
    animation-duration: 1.5s;
    animation-name: animate-fade;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }
